$color_primary: #004bcb;
$color_secondary: #008dd5;
$color_white: #fff;
$color_black: #000;
$color_red: red;
$border_color_primary: rgba(0, 142, 213, 0.231372549);
$button_bg_color: linear-gradient(to right, #7788FF, #6E6DFF);
$h1_color: #151826;
$p_color: #5C637E;
